body {
    margin:0px;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: #1F2937;


    margin:0px;
    padding: 0px;
    line-height: 0px;
    color:#e5e7eb;


}

header h1{
    margin: 0px 20px;
    color:#f9FAF8;
    font-size: 24px;
    font-family: 'Reem Kufi', sans-serif;
}

header img{
    width: 40px;
    height: auto;
    margin: 0px -10px;

}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex: 1 1 0;
}

.info-cards{

    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 52px;
 
}

.flexcol{
    display: flex;
    flex-direction: column;


}

.flex2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:80px;


}

.flex2 div{
    width: 50%;
}

.hero-section img{
    max-width: 100%;

}


.container{
    margin: 0px 200px;

}

.narowContainer{
    margin: 0px 300px;

}



.header-links {
    margin-left: auto;
    
}

header a {
    color: #e5e7eb;
    background-color: transparent;
    text-decoration: none;

    margin-left:  10px;
    
  }

.hero-section{
    margin: 0px;
    padding: 100px 0px;
    background-color: #1F2937;
    color:#e5e7eb;


}

.hero-section p{
    padding: 0px;
    margin-top: 5px;
}

.heroMainText{
    color:#f9faf8;
    font-size: 48px;
    font-weight: bold;

    margin: 0px;
    
}

Button{

    background-color: #3882f6;
    color: white;
    padding: 5px 25px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    border: 0px;
}

.info-section h2{
    font-size: 36px;

    color: #1F2937;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}


.info p{
    text-align: center;
    width: 200px;

}

.info {
    max-width: 200%;

}

.info img{
    border: 8px solid #3882F6;
    border-radius: 30px;
}

.quote-section{
    background-color: #e5e7eb;
    padding: 180px 120px 150px 120px;
    margin: 150px 0px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote{
    margin: 0px;

}

.author {
    font-weight: bold;
    text-align: right;
    margin: 5px;
    font-style: normal;

}

.cta-section{
    margin: 150px;
}

.blue-box{
    background-color: #3882F6;
    color: white;
    padding: 40px 150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    margin: 0px;

}

.blue-box p{
    margin: 0px;
}

.blue-box h3{
    margin: 5px 0px;
}

.blue-box Button{
    margin-left: auto;
    border: 5px solid white;
    min-width: 150px;
}

footer{
    background-color: #1F2937;
    padding: 30px;

    color:White;
    text-align: center;
}